{% extends "base.html" %}
{% block content %}
    <div class="jumbotron"  style="text-align: center; background-color:#E1D4DD;" > 
        <h1> Welcome to BookBuzz! 🐝 </h1>
        <h3> Explore the honeycomb of treasured works!</h3>
    </div>

    <div class="container">

        {# Go through each blog post #}
        {% for post in blog_posts.items %}
    
        <div class="card" style="background-color: #E0918B; border-radius: 25px; margin: 10px; border-color: #241E4E; border-width: 2px;">
    
            <div class="card-body">
    
    
            <h2><a class="card-title" href="  {{ url_for('bookPosts.blogPost', blogPostID=post.id) }}" style="color: #241E4E;">{{ post.title }}</a></h2>
            <a href="{{ url_for('users.userPosts', username=post.author.username) }}" style="color: #6B0504">Written By: {{ post.author.username }}</a>
            <p>Published on: {{ post.date.strftime('%Y-%m-%d') }}</p>
            <p class="card-text">{{ post.text[:100] }}...</p>
            <a href="{{ url_for('bookPosts.blogPost', blogPostID=post.id) }}" class="btn btn-primary" style="color: #E1D4DD; background-color: #241E4E;">Read Review!</a>
            </div>
        </div>
    
        {% endfor %}
    
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if blog_posts.page == page_num %}
                <li class="page-item disabled" >
                <a class="page-link" href="{{ url_for('core.index', page=page_num) }}" style="color: #E1D4DD; background-color: #241E4E;">{{ page_num }}</a></li>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}" style="color: #241E4E; background-color: #F2EFF1; border-color: #241E4E; border-radius: 2px;" >{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}
        </nav>
{% endblock %}