{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" style="text-align: center;"> 
        <h1> Discover a world of beloved books at BookBuzz! 📖✨ </h1>
        <h4>Login and write about your favorite literary works! </h4>
        <p> 
            <br>This is a collection where people post reviews of their favorite books. You can add tags to your review and find other books with a similar genre or theme. 
            <br>Get book inspiration from other people's reviews, and never run out of extraordinary books to explore.   
        </p>
    </div>
{% endblock %}